/* Evita márgenes inesperados al imprimir */
@page {
    size: letter; /* O A4 si usas A4 */
    margin: 5mm;
}

/* Cada etiqueta */
.label {
    width: 70mm;
    height: 35mm;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 2mm;

    display: flex;
    flex-direction: column;  /* ← CAMBIO CLAVE */
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
}

/* El QR */
.label img.qr-img {
    width: 45mm;
    height: auto;
}

/* Contenedor de columnas */
.table-labels {
    border-collapse: collapse;
    width: auto; /* muy importante */
}

.table-labels td {
    padding: 0;
}

.textcard {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt  !important;
    color: black;
    text-align: left  !important;
    display: flex;
    flex-direction: column;  
}


body{font-family:Inter, system-ui, Arial;margin:20px;color:#222}
.toolbar{display:flex;gap:8px;align-items:center;margin-bottom:12px}

.btn{padding:8px 12px;border-radius:6px;border:0;cursor:pointer}
.btn-primary{background:#2563eb;color:white}
.count{font-size:14px;color:#444}

/* Fuerza tooltip 100% sólido (sin transparencia) */
.tooltip.show {
    opacity: 1 !important;
}

/* Tu estilo celeste */
.tooltip-inner {
    background-color: #e9f5ff !important;
    color: #004085 !important;
    border: 1px solid #b8daff;
}

/* El triangulito del tooltip */
.tooltip.bs-tooltip-top .arrow::before,
.tooltip.bs-tooltip-bottom .arrow::before,
.tooltip.bs-tooltip-left .arrow::before,
.tooltip.bs-tooltip-right .arrow::before {
    border-color: #e9f5ff !important;
}

/*
.qr-container{display:grid;grid-template-columns:repeat(auto-fill,minmax(220px,1fr));gap:16px}
.qr-card{border:1px solid #ddd;border-radius:8px;padding:12px;display:flex;flex-direction:column;align-items:center;gap:8px;background:#fafafa}
.qr-img{width:180px;height:180px;object-fit:contain;background:white;padding:6px;border-radius:4px}
.qr-label{font-size:14px;text-align:center}
.controls{display:flex;gap:8px;align-items:center}

*/
