{% extends 'home_admin.html' %}

{% load static %}

{% block title %}Inventory: Asset Details{% endblock %}

{% block content %}

    <!-- Custom JS -->
<script type="text/javascript" src="{% static 'js/inventariohlag/activos_detalle.js' %}"></script>  


 <div id="diagview">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <div class="card border-secondary">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="tit10lb">Key:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-key"></i></span>
                                                </div>
                                                <input type="text" value="{{activo.id}}" size="20" class="form-control w-50 text8l inputdata" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="tit10lb">Active Type:</label>
                                            <div class="input-group">                                
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-card-list"></i></span>
                                                </div>
                                                {% for code, name in tiposactivos %}
                                                    {% if code == activo.tipo %}
                                                        <input type="text" value="{{name}}" size="20" class="form-control w-50 text8l inputdata" />
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="tit10lb">Active Identifier:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-chat-left-text"></i></span>
                                                </div>
                                                <input type="text"  value="{{activo.newid}}" size="20" class="form-control w-50 text8l inputdata" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="tit10lb">Asset Name:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-card-list"></i></span>
                                                </div>
                                                <input type="text" value="{{activo.nombre.nombre}}" size="20" class="form-control w-50 text8l inputdata" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">                                   
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="tit10lb">Serial Number:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-chat-left-text"></i></span>
                                                </div>
                                                <input type="text"  value="{{activo.serial}}" size="45" class="form-control w-50 text8l inputdata" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="tit10lb">SKU:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-chat-left-text"></i></span>
                                                </div>
                                                <input type="text" value="{{activo.sku}}" size="45" class="form-control w-50 text8l  inputdata" />
                                            </div>
                                      </div> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="tit10lb">Manufacturer:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-card-list"></i></span>
                                                </div>
                                                <input type="text" value="{{activo.fabricante.nombre}}" size="45" class="form-control w-50 text8l  inputdata" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="tit10lb">Model:</label>
                                            <div class="input-group">                                
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-card-list"></i></span>
                                                </div>
                                                <input type="text" value="{{activo.modelo.nombre}}" size="45" class="form-control w-50 text8l  inputdata" />
                                            </div>
                                        </div> 
                                    </div>
                                </div>  
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="tit10lb">Description:</label>
                                            <div class="input-group">                                
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi  bi-chat-left-text"></i></span>
                                                </div>
                                                <input type="text" value="{{activo.detalle}}" size="120" class="form-control w-50 text8l  inputdata" />
                                            </div>
                                        </div> 
                                    </div>
                                </div>  
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="tit10lb">Provider:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-chat-left-text"></i></span>
                                                </div>
                                                <input type="text" value="{{ activo.proveedor.nombre }}" size="120" class="form-control w-50 text8l  inputdata" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="tit10lb">Invoice Number:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-chat-left-text"></i></span>
                                                </div>
                                                <input type="text" value="{{ activo.factura }}" size="45" class="form-control w-50 text8l  inputdata" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">                                       
                                            <label class="tit10lb">Purchase Date:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                                                </div>
                                                <input type="text" value="{{ activo.fcompra }}" size="20" class="form-control mt-0 w-50 text8l inputdata" />
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="tit10lb">Purchase Value:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-chat-left-text"></i></span>
                                                </div>
                                                <input type="text" value="{{ activo.vcompra }}" size="20" class="form-control mt-0 w-50 text8l inputdata" />
                                            </div>
                                        </div>
                                    </div>
                                </div>                                   
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="tit10lb">Owner:</label>
                                            <div class="input-group">                                
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-card-list"></i></span>
                                                </div>
                                                {% for code, name in owners %}
                                                    {% if code == activo.owners %}
                                                        <input type="text" value="{{ name }}" size="20" class="form-control w-50 text8l inputdata" />
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="tit10lb">Accounted:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-card-list"></i></span>
                                                </div>
                                                {% for code, name in contabilizados %}
                                                    {% if code == activo.accounted %}
                                                        <input type="text" value="{{ name }}" size="20" class="form-control w-50 text8l inputdata" />
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">                                       
                                            <label class="tit10lb">Activation Date:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                                                </div>
                                                <input type="text" value="{{ activo.factivacion }}" size="20" class="form-control mt-0 w-50 text8l inputdata" />
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="tit10lb">Updated Value:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-chat-left-text"></i></span>
                                                </div>
                                                <input type="text" value="{{ activo.vactual }}" size="20" class="form-control mt-0 w-50 text8l inputdata" />
                                            </div>
                                        </div>
                                    </div>
                                </div>                                  
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="tit10lb">Building:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-card-list"></i></span>
                                                </div>
                                                <input type="text" value="{{ activo.edificio.nombre }}" size="45" class="form-control w-50 text8l  inputdata" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="tit10lb">Floor:</label>
                                            <div class="input-group">                                
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-chat-left-text"></i></span>
                                                </div>
                                                <input type="text" value="{{ activo.floor }}" size="12" class="form-control w-50 text8l  inputdata" />
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="tit10lb">Zone:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-card-list"></i></span>
                                                </div>
                                                <input type="text" value="{{ activo.zona.nombre }}" size="45" class="form-control w-50 text8l  inputdata" />
                                            </div>
                                        </div>
                                    </div>
                                </div>     
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="tit10lb">City:</label>
                                            <div class="input-group">                                
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-card-list"></i></span>
                                                </div>
                                                <input type="text" value="{{ activo.ciudad.nombre }}" size="45" class="form-control w-50 text8l  inputdata" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="tit10lb">Country:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-card-list"></i></span>
                                                </div>
                                                <input type="text" value="{{ activo.pais.nombre }}" size="45" class="form-control w-50 text8l  inputdata" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="tit10lb">Asset User:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-card-list"></i></span>
                                                </div>
                                                <input type="text" value="{{ activo.usuarioinv.nombre }}" size="45" class="form-control w-50 text8l  inputdata" />
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="tit10lb">Status:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-card-list"></i></span>
                                                </div>
                                                {% for code, name in estados %}
                                                    {% if code == activo.estado %}
                                                        <input type="text" value="{{ name }}" size="20" class="form-control w-50 text8l inputdata" />
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">                                       
                                            <label class="tit10lb">Status Date:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                                                </div>
                                                <input type="text" value="{{ activo.festado }}" size="12" class="form-control mt-0 w-50 text8l inputdata" />
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="tit10lb">Update Date:</label>
                                            <div class="input-group">                                
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                                                </div>
                                                <input type="text" value="{{ activo.fmodifica }}" size="12" class="form-control mt-0 w-50 text8l inputdata" />
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="tit10lb">Creation Date:</label>
                                            <div class="input-group">                                
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                                                </div>
                                                <input type="text" value="{{ activo.fingreso }}" size="12" class="form-control mt-0 w-50 text8l inputdata" />
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
