
<div id="datatablediv">
    <table id="tablaregs" class="table table-striped table-bordered table-hover" style="width:100%">
        <thead >
            <tr>
                <th width="10%" class="tdtit10">Key</th>
                <th width="40%" class="tdtit10">Area</th>
                <th width="40%" class="tdtit10">Country</th>
                <th width="10%" class="tdtit10">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for adminpais in adminpaises %}
            <tr>
                <td class="text8c" id="id{{modelo.id}}">{{adminpais.id|stringformat:"s"}}</td>
                <td class="text8c" id="pai{{modelo.id}}">{{adminpais.pais.nombre}}
                    <input type="hidden" name="paid{{adminpais.id}}" id="paid{{admid.id}}" value="{{adminpais.pais_id}}" />
                </td>
                <td class="text8c" id="adm{{modelo.id}}">{{adminpais.paisadmin.nombre}}
                    <input type="hidden" name="admid{{adminpais.id}}" id="id{{admid.id}}" value="{{adminpais.paisadmin_id}}" />
                </td>
                <td class="text8c"> 
                {% if request.user.is_superuser %}
                    <button class='btn btn-sm btn-outline-primary tip' title='Edit Relation' onClick='EditarRegistro({{adminpais.id|stringformat:"d"}})'>
                        <i class='bi-solid bi-pencil'></i>
                    </button>
                    <button class='btn btn-sm btn-outline-danger tip' title='Delete Relation' onClick='BorrarRegistro({{adminpais.id|stringformat:"d"}})'>
                        <i class='bi-solid bi-trash'></i>
                    </button>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>   
</div>
